:root{
    --color1:#22C348;
}




.glavn1{
    position: relative;
    left:12%;
    width:75rem;
    
}
.iop33-img{
    width:200px;
}
.iop20{
    z-index:9999;
    
    width:77rem;
    position:fixed;
    left:11%;
    background-color: #ffffff;

    }





.men-mob{
    position: absolute;
    left:10px;
    display:none;
}

.cont23{
    width:100%;
    height:50px;
    
}
.logo78{
    position: relative;
    top:5px;
    width:40%;
    height:auto;
    float: left;
}
.iop21{
    z-index:9999999;
    width:100%;

    position: fixed;
    top: 70px;
    left:-10px;
    
    border-top:1px solid #E5E9EB;
    border-bottom:1px solid #E5E9EB;
}

.vse{
    width:40px;
    height:27px;
    border-radius:7px;
    border:1px solid white;
    float: left;
    color:#22C348;
    background-color: #F0F9F4;
    position: relative;
    left:60px;
    top:10px;
    text-align: center
}
.marli{
    margin-top:-140px;
}

.vse:hover{
    border:1px solid #22C348;
}

.blok-dis{
    position:absolute;
    left:394px;
    top:40px;
    width:750px;
    height:400px;
    display:none;
    background-color:white;
    z-index:9999999999;
    border-left:2px solid #22C348;
}


.men2-1{
    
    margin-top:10px;
    width:210px;
    height: auto;
    float: left;
    


}

.con-men{
    width:100%;
    height:50px;

}

.con-men:hover{
    background-color: #22C348;

}






.iop56{
    width:100%;
    height:50px;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
  
}
.iop56:hover{
    background-color: #22C348;

}


.iop56:hover .blok-dis{


    display: block ;


}

.iop31{
    position: relative;
    left:55%;
}
.line-1{
    width:8px;
    height:100%;
    background-color: #8b8787;
    float: left;
}




.iop4{
    position: relative;
    top:130px;
}
.iop40{
    position: relative;
    left:6px;
    top:5px;

    width:30px;
    height:30px;
    float:left;
}
.iop40-text{
    float:left;
    position: relative;
    top:10px;
    left:15px;
}


.oop{
    position: relative;
    left:-10%;
    width:200px;
    height:35px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px;
    border:none;
}

.iopo{
    position: relative;
    left:-13%;
    background-color: #22C348;
    border:none;
}


.iopo:hover{
    background-color: #22C349;

}

.tyu{
    background-color: #22C348;
    border:none;
}

.tyu:hover{
    background-color: #22C349;
}




.content8{
    width:100%;
    height:450px;
    background-color: #8b8787;
    position: relative;
    top:150px;
}

.meny-f{
    float: left;
    margin:20px;
}
.tel{
    width:100%;
    height:100%;
}

.logo1-menu{
    width:14%;
    height:auto;
}

.but1-menu{
    width:50px;
    height:50px;
    background-color: black;
}



.iop32{
    position: relative;
    left:40%;
}


.iopp{
    position:relative;
    left:1%;
    width:20px;
    
}

.button1{
    width:50px;
    height:50px;

}

.iop3{
    position: relative;
    left:20%;
    width:100xp;
    height:50px;
}

.iop5{
    width:20px;
    height:20px;
    border-radius:50%;
    float: left;

}
.uop{
    width:16px;
}
.iop4{
    border:1px solid #dadada;
}

.color1{
    width:80px;
    height:40px;
    background-color:var(--color1);
    border-radius:10px;
    border:none;

}
.telg{
    width:45%;
    float: left;
}
.yu{
    color: #22C348;
}
.img-m{
    width:25px;
    float:left;
}

.mar{
    margin-top:20px;
}

.as{
    width:90%;
    margin:30px;
    background-color: #8b8787;
}






.button2{

    width:45px;
    height:35px;
    border-radius:50%;

}

.ert{
    width:100%;

    margin-right:20%;
    margin-left:20%;
}


@media only screen and (max-width:1000px) {
    .iop21{
        display:none;
    }

    .content8{
        display: none;
    }
    .iop20{
        width:100%;
        position: fixed;
        left:0px;
    }

    

    .dis{
        display:none;
    }
    .dis-2{
        width:100%;
    }
    .men-mob{
        display: contents;
    }

    .glavn1{
        position: relative;
        left:0%;
        width:100%;
        height:1700px;
    }
    .iop20{
        background-color:var(--color1);
    }
    .iop3{
        display:none;
    }

    .logo1-menu{
        display:none;
    }
}

.iop33{
    position: relative;
    top:150px;
}

.krug{
    width:40px;
    height:40px;
    border-radius:50%;
    position: relative;
    top:-250px;
    left:130px;
    
   }

.iop33-img{
    width: 90%;
    
}

.text-2{
    position: relative;
    left:9px;
}

.krug:hover{
    background-color: #22C348;

}
.mesto{
    width:200px;
    height:40px;
    position: relative;
    left:13px;
    float: left;
}

a{
    text-decoration: none;
}
.iop93{
    float: left;
}

.text-iop33{
    color: #8b8787;
    float: left;
}
.mesto1{ 
    position: relative;
    left:173px;

   
  
    

    border-radius:5px;
}
.iop91{
    width:16px;

}


.telio{
    width:100%;
}

.iop4444{
    z-index:99999999999999;
}
.sms{
    position:fixed;
    top:800px;
    width:35px;
    height:35px;
}




